<% include ../partials/header %>

    <div class="row text-center">
        <div class="col-lg-12 mx-auto">
            <h1 class="mb-4">Edit <%=place.name%></h1>
            <div class="w-25 mx-auto">
                <form action="/places/<%=place._id%>?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="place[name]" value="<%=place.name%>" required>    
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="place[address]" value="<%=place.address%>" required>    
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="place[image]" value="<%=place.image%>" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="place[description]" value="<%=place.description%>">    
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-lg btn-block">Save Changes</button>
                    </div>
                </form>
                <a href="/places"> Go Back</a> 
            </div>
        </div>
    </div>

<% include ../partials/footer %>