<% include ../partials/header %>

    <div class="row">
        <div class="col-9 mx-auto">
            <div class="card mb-4">
                <img class="card-img-top" src="<%=place.image%>" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4 class="card-title"><%=place.name%></h4>
                            <h4 class="card-text" lang="ar" dir="RTL"><%=place.address%></h4>
                            <p> <%= place.description %> </p>
                            <p>
                                <em>Submitted by: <a href="/users/<%=place.author.id%>"><%= place.author.username %></a>, <%= moment(place.createdAt).fromNow() %></em>
                            </p>    
                        </div>
                        <div class="col-lg-4 text-center" id="recommend">
                            <p id="recomCount">
                                <% if(place.recoms > 1){ %>
                                    <%=place.recoms%> people recommend this place.
                                <% } else if(place.recoms === 1){ %>
                                    <%=place.recoms%> person recommends this place.
                                <% } else{ %>
                                    No one recommended this place yet.
                                <% } %>
                            </p>
                            <% if(currentUser && !recomUsersStr.includes(currentUser.id)) { %>
                            <form action="/places/<%=place.id%>/recom/?_method=PUT" method="post">
                                <button id="recomButton" class="btn btn-xs btn-success">Recommend this place</a>
                            </form>
                            <% } else if (currentUser && recomUsersStr.includes(currentUser.id)) { %>
                            <form action="/places/<%=place.id%>/unrecom/?_method=PUT" method="post">
                                <button id="unrecomButton" class="btn btn-xs btn-info">Unrecommend place</a> 
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <% if(currentUser && place.author.id.equals(currentUser._id)) { %>
                                    <a class="btn btn-xs btn-primary mr-2 mb-2" href="/places/<%=place._id%>/edit">Edit Place</a>
                                    <form class="delete-form d-inline" action="/places/<%=place._id%>?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger mr-2 mb-2">Delete Place</button>    
                                    </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card">
                  <div class="card-header">
                        <h5 class="d-inline">Reviews</h5>
                        <a class="btn btn-success float-right <% if (currentUser && place.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/places/<%= place._id %>/reviews/new">
                            Write a New Review</a>
                  </div>
                  <ul class="list-group list-group-flush">
                    <% if (place.rating === 0) { %>
                    <li class="list-group-item">
                        <em>No reviews yet.</em>
                    </li>
                    <% } else { %>
                    <li class="list-group-item">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (place.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (place.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (place.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (place.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= place.reviews.length %>)</em>
                        <p>Current place rating: <strong><%= place.rating.toFixed(2) %></strong></p>
                        <p class="mb-0"><strong>Latest reviews for this place:</strong></p>
                    </li>
                    <% place.reviews.slice(0, 5).forEach(function(review){ %>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                                    <div class="mb-3">
                                        Review by: <strong><a href="/users/<%=review.author.id%>"><%= review.author.username %></a></strong>
                                        <span class="float-right"><em><%= review.updatedAt.toDateString() %></em></span>
                                    </div>
                                    <p class="d-inline-flex float-left clearfix text-justify">
                                        <%= review.text %>  
                                    </p>
                                    <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                                    <div class="float-right">
                                        <a class="btn btn-xs btn-primary mr-2"
                                           href="/places/<%=place._id %>/reviews/<%=review._id %>/edit">Edit</a>
                                        <form class="delete-form d-inline" action="/places/<%=place._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                            <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                        </form>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </li>
                    <% }); %>
                    <li class="list-group-item">
                        <h5 class="mt-2"><a href="/places/<%= place._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h5>
                    </li>
                    <% } %>
                  </ul>
            </div>
        </div>
    </div>    

<% include ../partials/footer %>