<% include ../partials/header %>

<div class="row text-center">
    <div class="col-md-6 offset-md-3"> <!--col-md-offset-4 -->
        <div id="user-profile" class="card mb-4 text-center">
            <img class="card-img-top" id="user-avatar" src="<%=user.avatar%>" alt="user avatar">
            <div class="card-body">
                <h1 class="card-title"><%=user.firstName + " " + user.lastName%></h1>  
                <a class="card-text" href="mailto:<%=user.email%>"><%=user.email%></a>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-lg-12 mb-4">
        <h3><%=user.firstName%>'s Places</h3>
    </div>
        <% places.forEach(function(place){ %>
            <div class="col-md-3">
                <div class="card mb-4">
                    <img class="card-img-top" src="<%=place.image%>" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><%=place.name%></h4>
                        <p class="card-text" lang="ar" dir="RTL"><%=place.address%></p>
                        <p>
                            <a href="/places/<%= place._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            </div> 
    <% }); %>
</div>

<div class="row text-center">
    <div class="col-lg-12 mb-4">
        <h3 class="mb-4"><%=user.firstName%>'s Recommended Places</h3>
        <% if(recomPlaces == "") { %>
            <p><%=user.firstName%> hasn't recommended any places yet.</p>
        <% } %>    
    </div>
        <% recomPlaces.forEach(function(recomPlace){ %>
            <div class="col-md-3">
                <div class="card mb-4">
                    <img class="card-img-top" src="<%=recomPlace.image%>" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title"><%=recomPlace.name%></h4>
                        <p class="card-text" lang="ar" dir="RTL"><%=recomPlace.address%></p>
                        <p>
                            <a href="/places/<%= recomPlace._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            </div> 
        <% }); %>
</div>

<% include ../partials/footer %>